# All
.vscode
**/.venv
**/__pycache__
**/*.pdf

# Video Subtitle
Video Subtitle/*.mp4
Video Subtitle/subtitle
Video Subtitle/video-with-subtitle

# Pdf Split
Pdf Split/.env
Pdf Split/**/*.pdf

# Compress Video
Compress Video/**/*.mp4

# OCR
OCR/output.txt
